body {
  max-width: 1024px;
  margin: 0;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #e0f2f8;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 28px;
}

h3 {
  text-align: left;
}

button {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

input {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

option {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

label {
  cursor: pointer;
}

select {
  cursor: pointer;
}
