body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h3 {
  text-align: left;
}

button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

option {
  font-family: 'Roboto', sans-serif;
}
