.icons {
  display: flex;
}

.iconlabel > input:active + .imgicon {
  border: solid 2px black;
  border-radius: 50%;
  padding: 10px;
}

.imgicon:hover {
  border: solid 1px black;
  border-radius: 50%;
}

.iconbutton {
  visibility: hidden;
  position: relative;
}
.icons {
  margin: 10px;
}
