.input-container {
  display: flex;
  justify-content: center;
}

.day-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.scrollDown {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 250px;
  padding: 5px;
  border-radius: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

.progress {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}

h3 {
  text-align: center;
  margin: auto;
}
