.daybox {
  padding: 20px;
  margin: 5px;
  text-align: left;
}

.category-0 {
  background: #8cd163;
  text-align: left;

}

.category-1 {
  background: #8ecdd9;
  text-align: left;
}

.category-2 {
  background: #fff;
  text-align: left;
}

.category-3 {
  background: #ca8e5f;
  text-align: left;
}

.category-4 {
  background: #fefe83;
  text-align: left;
}

.category-5 {
  background: #fea8d5;
  text-align: left;
}

.category-6 {
  background: #ff4047;
  text-align: left;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

.remove {
  float: right;
  cursor: pointer;
  color: #666666;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

.remove:before {
 content: "×";
 margin-top: auto;
 margin-bottom: auto;
}

.remove:hover {
  color: black;
}

.text {
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
