.tasks {
  margin-top: 100px;
}

.daybox {
  /* display: flex;
  align-items: baseline;
  align-content: space-between; */
  padding: 20px;
  margin: 5px;
  text-align: left;
}

.category-0 {
  background: #8cd163;
}

.category-1 {
  background: #8ecdd9;
}

.category-2 {
  background: #fff;
}

.category-3 {
  background: #ca8e5f;
}

.category-4 {
  background: #fefe83;
}

.category-5 {
  background: #fea8d5;
}

.category-6 {
  background: #ff4047;
}

input[type=checkbox]:checked ~ span {
  text-decoration: line-through;
  opacity: 0.5;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

.remove {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  cursor: pointer;
  color: #666666;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

.remove:before {
 content: "×";
 margin-top: auto;
 margin-bottom: auto;
}

.remove:hover {
  color: black;
}

.text {
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

img.icon {
  margin: 0 10px 0 10px;

}
