.daybox {
  padding: 20px;
  margin: 5px;
}

.category-0 {
  background: #8cd163;
}

.category-1 {
  background: #8ecdd9;
}

.category-2 {
  background: #fff;
}

.category-3 {
  background: #ca8e5f;
}

.category-4 {
  background: #fefe83;
}

.category-5 {
  background: #fea8d5;
}

.category-6 {
  background: #ff4047;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

button {
  background: lightgrey;
  margin: 10px;
}
